body {
  background-color: white;
  background-size: cover;
}

.container {
  width: 1440px;
  height: 1080px;
}

.conteudo{
  display: flex;
}

h3 {
  margin: 40px 1230px 200px 77px;
  font-family: 'Inconsolata';
  font-weight: 700;
  font-size: 24px;
  /*line-height: 25px;*/
  letter-spacing: -0.08cm;
  text-transform: uppercase;
}

.scarecrow img {
  width: 539.22px;
  height: 447.43px;
  margin: auto 118.78px 367.57px 77px;
}

.scarecrow h1{
  margin: auto 119px 625px auto;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -0.035cm;
  color: #333333;
  line-height: 95px;
  position: absolute;
  width: 586px;
  height: 190px;
  left: 735px;
  top: 265px;
}

.scarecrow p{
  margin: auto 323px auto auto;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035cm;
  color: #4F4F4F;
  position: absolute;
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;
}

.button button{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035cm;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #333333;
  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
}

.footer p{
  position: absolute;
  width: 400px;
  height: 17px;
  left: 577px;
  top: 1039px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #BDBDBD;
}

@media only screen and (max-width: 600px){
  .conteudo{
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .scarecrow img{
    width: 286px;
    height: 238px;
    position: absolute;
    left: 11.73%;
    right: 11.78%;
    top: 11.49%;
    bottom: 63.44%;
  }
  .scarecrow h1{
    position: absolute;
    width: 350px;
    height: 142px;
    left: 24px;
    top: 407px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035cm;
    color: #333333;
  }
}